<h1 style="margin-bottom: 0px;">Lists</h1>

<%= link_to "Create a list", new_list_path, class: "create-list" %>

<div class="lists">
  <% @lists.each do |list| %>
    <%= link_to list_path(list) do %>
      <div style="background-image: url('<%= list.image.key ? cl_image_path(list.image.key) : "" %>');">
        <h2 class="list-link"><%= list.name %></h2>
      </div>
    <% end %>
  <% end %>
</div>
