.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
}

.new-link {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  background-color: rgb(41, 41, 41);
  padding: 5px 10px;
  border-radius: 16px;
  transition: 0.3s;
  border: 2px solid transparent;

  &:hover {
    border: 2px solid rgba(41, 41, 41, 0.8);
    background-color: rgb(236, 236, 236);
    color: rgb(41, 41, 41);
    border-radius: 8px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid grey;

  & > a {
    color: white;
    text-decoration: none;
    background-color: rgb(194, 0, 0);
    padding: 5px 10px;
    border-radius: 16px;
    transition: 0.3s;

    &:hover {
      background-color: darkred;
      border-radius: 8px;
    }
  }
}

.all-link {
  display: inline-block;
  margin-top: 10px;
  color: white;
  text-decoration: none;
  background-color: rgb(41, 41, 41);
  padding: 5px 10px;
  border-radius: 16px;
  transition: 0.3s;
  border: 2px solid transparent;

  &:hover {
    border: 2px solid rgba(41, 41, 41, 0.8);
    background-color: rgb(236, 236, 236);
    color: rgb(41, 41, 41);
    border-radius: 8px;
  }
}
