// Graphical variables
// I am not using bootstrap.

// External libraries
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Google fonts
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
}

.page-container {
  margin: 20px 10vw;

  a {
    text-decoration: none;
  }
}
